/* TABS-BTNS */
.tabs_btns {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent !important;
}
.tabs_btns:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}
.tabs_wrap::-webkit-scrollbar {
  display: none !important;
}

.numbers {
  background: var(--dark-green);
  border-radius: 50%;
  width: 35px !important;
  height: 35px !important;
}

.blog_img {
  width: 190px !important;
}

.blogs_wrap {
  border-top: 1px solid #b1bca2 !important;
}
/* FOOTER-STARTS  */
.social_icons:hover {
  transform: translateY(-8px) scale(1.07);
}
.mx_980 {
  max-width: 980px;
}
.footer_links a {
  position: relative;
  display: inline-block;
}

.footer_links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease; /* Smooth animation */
}

.footer_links a:hover::after {
  width: 100%;
  left: 0;
}

/* FOOTER-ENDS  */

/* ========================== MEDIA-QUERY ======================  */
@media (max-width: 567.9px) {
  .footer_logo {
    width: 180px;
  }
  .blog_img {
    object-fit: cover;
    width: 90px !important;
  }
}
